:root {
    --contrast-color: rgb(255, 109, 109);
    --grey: rgb(40, 40, 40);
    --grey-op: rgba(40, 40, 40, .66);
    --bg-grey: rgb(237, 237, 237);
    --blue-op: rgba(50, 57, 105, .6);
    --blue: rgb(50, 57, 105);

    font-family: "Exo", sans-serif;
    /*font-weight:
    thin - 100, regular - 400 (default), medium - 500*/
}

h2 {
    margin-top: 16px;
    margin-bottom: 45px;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;

    .color-dots {
        color: var(--contrast-color);
    }
}

h3 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--contrast-color);
}

h4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--grey);
}

.btn {
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--contrast-color);
    box-shadow: 0 0 8px 0 var(--contrast-color);

    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    transition: .2s;

    &:hover {
        background-color: white;
        color: var(--contrast-color);
        box-shadow: 0 0 8px 2px var(--contrast-color);
        cursor: pointer;
    }

    &:active {
        box-shadow: inset 0 0 8px 3px var(--contrast-color);
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 2px dashed red;
        outline-offset: 2px;
    }
}

.section-text {
    white-space: pre-line;
    font-size: 1rem;
    font-weight: 500;
    color: var(--grey-op);
    line-height: 1.5;
}

.header {
    padding-top: 150px;
    padding-bottom: 280px;
    background-image: url(../img/bg_header.png);
    text-align: center;

    @media (min-width: 1579px) {
        background-size: cover;
        
    }

    .title {
        width: 708px;
        margin: 0 auto;

        font-size: 3.7rem;
        font-weight: 100;
        color: var(--grey);
        line-height: 1.2;
    }

    .play-btn {
        display: block;
        margin: 40px auto;
        width: 60px;
        font-size: 3.7rem;
        color: var(--blue);
        opacity: .6;
        transition: .2s;
    }

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;

        &:hover {
            cursor: pointer;
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48;
        }
    }
    
    .details {
        margin-top: 20px;
        color: var(--grey-op);
        font-size: 0.9rem;
    }
}

.new-design {
    background: no-repeat left 872px top -65px url(../img/red-geometry.png) var(--bg-grey);
    /* background-image: url(../img/triangle.png); */
    /* background-repeat: no-repeat; */
    /* background-position: left 872px top -65px; */
    /* background-size: 100% */
    /* background-color: #28282828; */
    margin-top: -13px;

    .wrapper {
        box-sizing: border-box;
        padding: 190px 150px 0;
        width: 872px;
        padding-top: 90px;
        padding-bottom: 90px;
        background-color: white;
    }
}

.features {
    position: relative;
    padding-top: 140px;
    padding-bottom: 90px;
    background-color: var(--bg-grey);
    text-align: center;
    overflow: hidden;

    /* [alt="pens"] {
            position: absolute;
        top: -14px;
        left: 82px;
    } */

    #pens {
        position: absolute;
        top: -14px;
        left: 82px;
    }

    #earphones {
        position: absolute;
        top: -9px;
        right: 165px;
    }

    #coffee {
        position: absolute;
        top: 716px;
        right: 50px;
    }


    .features-item {
        margin-top: 45px;
        display: inline-block;
        width: 342px;
        text-align: center;
    }

    .item-margin {
        margin-left: 45px;
        margin-right: 45px;
    }

    h4 {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.laptop {
    background: no-repeat left -900px top -100px url(../img/red-geometry.png);
    box-sizing: border-box;
    padding-bottom: 90px;
    padding-top: 90px;
    text-align: center;

    img {
        vertical-align: middle;
    }

    .text-wrapper {
        display: inline-block;
        width: 492px;
        margin-left: 50px;
        vertical-align: middle;
        text-align: left;
    }
}

.clients {
    padding-top: 106px;
    box-sizing: border-box;
    background-image: url(/1/img/bg_clients.png);
    background-size: cover;
    height: 658px;

    .wrapper {
        display: flex;
        justify-content: center;
        gap: 65px;

        .item {
            justify-items: center;
            /* can use out of flexbox */
        }

        .photo {
            width: 80px;
            padding-top: 80px;
            background: rgb(78, 78, 94);
        }

        .name {
            margin-top: 24px;
            font-weight: 500;
            font-size: 1.4rem;
            color: white;
        }

        .title {
            margin-top: 12px;
            font-weight: 500;
            font-size: 1rem;
            color: var(--contrast-color);
        }

        .comment {
            margin-top: 37px;
            width: 324px;
            font-style: italic;
            font-size: 1rem;
            color: white;
            opacity: 0.66;
            line-height: 1.5;
            text-align: center;
        }

    }

    .logos {
        display: flex;
        width: 960px;
        justify-content: space-between;
        align-items: center;
        margin-top: 69px;
        margin-inline: auto;
    }
}

.browser {
    padding-top: 108px;
    justify-items: center;
    background: var(--bg-grey);

    .text {
        width: 647px;
        margin-bottom: 93px;
        text-align: center;
    }

    .wrapper {
        position: relative;

        &::after {
            content: "";
            display: block;
            box-sizing: border-box;
            background-clip: content-box;
            background-color: rgb(226, 225, 226);
            padding-top: 53px;
            padding-inline: 26px;
            width: 100%;
            padding-top: 90px;
            padding-bottom: 90px;
            position: absolute;
            top: 0;
        }
    }
}

.try-now {
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 90px;
    background-color: rgb(50, 57, 105);
    text-align: center;

    h2 {
        margin-bottom: 37px;
        color: white;
    }

    form {
        display: inline-flex;
        gap: 27px;
        align-items: flex-end;

        input {
            width: 265px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 30px;
            box-sizing: border-box;
            background-color: #464c77;
            border: 1px solid rgba(255, 255, 255, .5);
            border-radius: 5px;

            font-size: 1rem;
            color: white;

            &::placeholder {
                text-transform: uppercase;
                color: rgba(246, 245, 243, .5);
            }
        }

        .test-free {
            color: rgba(246, 245, 243);
            margin-bottom: 15px;
            text-align: left;

            &::before {
                margin-right: 15px;
                content: url(../img/strelka.png);
                vertical-align: top;
            }
        }

        .btn {
            width: 265px;
        }
    }

    .terms {
        color: rgba(255, 255, 255, .6);
        margin-top: 50px;

        a {
            color: inherit;

            &:hover {
                color: rgba(255, 255, 255, .8);
            }
        }
    }
}

.footer {
    background: no-repeat left 900px top -1150px url(../img/red-geometry.png);
    padding-top: 90px;
    padding-bottom: 90px;

    .wrapper {
        display: flex;
        justify-content: center;
        gap: 80px;

        h4 {
            line-height: 46px;
        }

        a {
            text-decoration: none;
            color: var(--grey-op);
        }

        .contacts {
            width: 231px;
            white-space: pre-line;
            font-size: 0.9rem;
            font-weight: 500;
            line-height: 26px;
            color: var(--grey-op);

        }

        .menu {
            display: flex;
            flex-direction: column;
            line-height: 30px;
            font-size: 0.9rem;
            color: var(--grey-op);
        }

        :where(.phone-link, .menu-item):hover {
            text-decoration: underline;
            color: var(--grey);
        }

        form {
            display: flex;

            input {
                width: 265px;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 30px;
                box-sizing: border-box;
                background-color: var(--bg-grey);
                border: none;
                border-radius: 5px;

                font-size: 1rem;
                color: var(--grey);

                &:focus {
                    outline: 1px dashed var(--grey-op);
                }

                &::placeholder {
                    text-transform: uppercase;
                    color: var(--grey-op);
                }
            }

            .btn {
                width: 55px;
                font-size: 20px;
            }
        }

        .data-entry {
            position:relative;
            font-family: 'Alegreya Sans SC', sans-serif;
          }
        }

        .social {
            display: flex;
            margin-top: 20px;
            justify-content: center;
            gap: 30px;

            .fa-brands {
                font-size: 1.2rem;

                &:hover {
                    color: var(--contrast-color);
                }
            }
        }

        /* test sprites */
        /* .icon {
            width: 20px;
            height: 21px;
            background: url(/1/img/icon_sprites.png) no-repeat;
        }

        .bg-facebook {
            background-position: -16px -21px;
        }

        .bg-twitter {
            background-position: -71px -19px;
        }

        .bg-dribbble {
            background-position: -131px -21px;
        }

        .bg-googleplus {
            background-position: -190px -19px;
        } */
    }
}