:root {
    --contrast-color: rgb(255, 109, 109);
    --grey: rgb(40, 40, 40);
    --grey-op: rgba(40, 40, 40, .66);
    --bg-grey: rgb(237, 237, 237);
    --blue-op: rgba(50, 57, 105, .6);
    --blue: rgb(50, 57, 105);
    
    font-family: "Exo", sans-serif;
    /*font-weight:
    thin - 100, regular - 400 (default), medium - 500*/
}

/*header*/

.header {
    height: 813px;
    padding-top: 225px;
    background-image: url(../img/bg_header.png);
    background-size: cover;
    text-align: center;
}

.header-title {
    width: 708px;
    margin: 0 auto;

    font-size: 60px;
    font-weight: 100;
    color: var(--grey);
    line-height: 1.2;
}

.play-btn {
    display: block;
    margin: 40px auto;
    width: 60px;
    font-size: 60px;
    color: var(--blue);
    opacity: .6;
    transition: .2s;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined:hover {
    cursor: pointer;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.btn {
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: var(--contrast-color);
    box-shadow: 0 0 8px 0 var(--contrast-color);

    font-size: 16px;
    color: white;
    text-transform: uppercase;
    transition: .2s;
}

.btn:hover {
    background: white;
    color: var(--contrast-color);
    box-shadow: 0 0 8px 2px var(--contrast-color);
    cursor: pointer;

}

.btn:active {
    box-shadow: inset 0 0 8px 3px var(--contrast-color);
}

.btn:focus {
    outline: none;
}

.btn:focus-visible {
    outline: 2px dashed red;
    outline-offset: 2px;
}

.details {
    margin-top: 20px;
    color: var(--grey-op);
    font-size: 14px;
}

/*New Design*/

.new-design {
    background: no-repeat left 872px top -65px url(../img/red-geometry.png) var(--bg-grey);
    /* background-image: url(../img/triangle.png); */
    /* background-repeat: no-repeat; */
    /* background-position: left 872px top -65px; */
    /* background-size: 100% */
    /* background-color: #28282828; */
    margin-top: -13px;

}

.new-design-wrapper {
    box-sizing: border-box;
    padding: 190px 150px 0;
    width: 872px;
    height: 707px;
    background-color: white;
}

.section-subtitle {
    font-size: 16px;
    font-weight: 500;
    color: var(--contrast-color);
}

.section-title {
    margin-top: 16px;
    margin-bottom: 45px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
}

.color-dots {
    color: var(--contrast-color);
}

.section-text {
    white-space: pre-line;
    font-size: 16px;
    font-weight: 500;
    color: var(--grey-op);
    /* opacity: 66%; - move to var grey*/
    line-height: 1.5;
}

/* Features */

.features {
    position: relative;
    padding-top: 140px;
    height: 675px;
    background-color: var(--bg-grey);
    text-align: center;
    overflow: hidden;
    /*hides content that exceeds the parent*/
}

#pens {
    position: absolute;
    top: -14px;
    left: 82px;
}

#earphones {
    position: absolute;
    top: -9px;
    right: 165px;
}

#coffee {
    position: absolute;
    top: 716px;
    right: 50px;
}

/* [alt="pens"] {
    position: absolute;
    top: -14px;
    left: 82px;
} */

.features-item {
    margin-top: 45px;
    display: inline-block;
    width: 342px;
    text-align: center;
}

.item-margin {
    margin-left: 45px;
    margin-right: 45px;
}

.item-title {
    margin-top: 30px;
    margin-bottom: 20px;

    font-size: 22px;
    font-weight: 500;
    color: var(--grey);
}

.laptop {
    background: no-repeat left -900px top -100px url(../img/red-geometry.png);
    box-sizing: border-box;
    height: 550px;
    padding-top: 90px;
    text-align: center;

    img {
        vertical-align: middle;
    }

    .text-wrapper {
        display: inline-block;
        width: 492px;
        margin-left: 50px;
        vertical-align: middle;
        text-align: left;
    }

}

.clients {
    padding-top: 106px;
    box-sizing: border-box;
    background-image: url(/1/img/bg_clients.png);
    background-size: cover;
    height: 658px;

    .wrapper {
        display: flex;
        justify-content: center;
        gap: 65px;

        .item {
            justify-items: center;
            /* can use out of flexbox */
        }

        .photo {
            width: 80px;
            height: 80px;
            background: rgb(78, 78, 94);
        }

        .name {
            margin-top: 24px;
            font-weight: 500;
            font-size: 22px;
            color: white;
        }

        .title {
            margin-top: 12px;
            font-weight: 500;
            font-size: 16px;
            color: var(--contrast-color);
        }

        .comment {
            margin-top: 37px;
            width: 324px;
            font-style: italic;
            font-size: 16px;
            color: white;
            opacity: 0.66;
            line-height: 1.5;
            text-align: center;
        }

    }

    .logos {
        display: flex;
        width: 960px;
        justify-content: space-between;
        align-items: center;
        margin-top: 69px;
        margin-inline: auto;
    }
}

.browser {
    padding-top: 108px;
    justify-items: center;

    .text {
        width: 647px;
        margin-bottom: 93px;
        text-align: center;
    }

    .wrapper {
        position: relative;

        &::after {
            content: "";
            display: block;
            box-sizing: border-box;
            background-clip: content-box;
            background-color: rgb(226, 225, 226);
            padding-top: 53px;
            padding-inline: 26px;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
        }
    }
}